/* library.css */
.library{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
  url(../../assets/hero.jpg);
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;

}

.library-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.library-container h2 {
  font-size: 2rem;
  color: var(--color-blue);
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.library-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.loading-text, .error-text {
  font-size: 1.5rem;
  color:var(--color-secondary);
  text-align: center;
  margin: 20px;
}

/* Styling for individual BlogPreview cards */
.blog-preview-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color:var(--color-primary);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-preview-container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.blog-preview-image {
  width: 20%;
  object-fit: cover;
  display: block;
}

.blog-preview-content {
  padding: 15px;
}

.blog-preview-title {
  font-size: 1.25rem;
  color:var(--color-secondary);
  font-weight: bold;
  margin: 10px 0;
  text-decoration: none;
}

.blog-preview-excerpt {
  font-size: 1rem;
  color:var(--color-primary);
  margin: 10px 0;
}

.blog-preview-author {
  font-size: 0.9rem;
  color:var(--color-blue);
  margin-bottom: 5px;
}

.blog-preview-visibility {
  display: inline-block;
  font-size: 1rem;
  color: var(--color-primary);
  margin: 2rem;
  padding:1rem;
  border-radius: 12px;
  background-color:var(--color-blue);
}
